/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #2e2e31;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.topnav {
    position: fixed;
    width: 100%;
    background-color: #2b2b2b;
    overflow: hidden;
    z-index: 100;
}

.topnav a {
    float: right;
    color: snow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(80, 80, 80, 0.781);
    color: rgb(255, 100, 100);
}

.topnav a.active {
    color: rgb(61, 243, 70);
}

.sidenav {
    height: calc(100% - 50px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: snow;
    display: block;
}

.sidenav a:hover {
    color: #d8a2a2;
}

.right-side {
    height: calc(100% - 50px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.right-side a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: snow;
    display: block;
}

.right-side a:hover {
    color: #d8a2a2;
}