* {
    font-family: Microsoft JhengHei;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 55, 75);
}

html {
    text-align: center;
}

#query_result_table {
    width: fit-content;
    margin: 0 auto;
}

th, td {
    padding: 10px 15px;
}

#sql {
    color: rgb(159, 235, 97);
}