html {
    text-align: center;
    font-family: Microsoft JhengHei;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.85);
}

body {
    margin: 0;
}

main {
    padding: 50px 200px 0px 200px;
}

.chart-container {
    height: 400px;
    width: 700px;
    margin: 40px auto;
}

.stock-code {
    margin: 10px 15px;
    font-size: 30px;
    position: absolute;
    z-index: 10;
}

.chart {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#query_result_table {
    width: fit-content;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 10px 15px;
}

#sql {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
}

.query_title {
    font-size: 25px;
    margin: 20px;
}

#query_result_date {
    background-color: rgba(96, 200, 245, 0.2);
    margin: 0px 15px;
    border-radius: 10px;
    line-height: 40px;
}